---
//   Base Layout
// Navigation Component
import Navigation from '../components/Navigation.astro';
// Footer Component
import Footer from '../components/Footer.astro';

const siteName = "Digital Garden"

const {pageTitle} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}: {pageTitle} </title>
	</head>
	<body>

        <main>

            <!-- Navigation component -->
            <Navigation />

            <!-- dynamic Astro slot -->
            <slot />

            <!-- Footer component -->
            <Footer />

        </main>


	
    </body>
</html>